*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #0D0D0D;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.movie {
    overflow: hidden;
}

.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    color: #000;
    font-weight: 800;
    transition: all 1s;
}

.movie:hover .layer {
    top: 0;
    transition: all 1s;
}

.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    z-index: 55555555;
    background-color: #f8f6f6;
    text-align: center;
    /* transition: all 0.6s ease; */
}

.logo {
    padding: 25px 0;
}

.logo img {
    height: 48px;
}

.toggle-menu i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.toggle-menu i {
    font-size: 25px;
    cursor: pointer;
}

.social-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.social-icons > div {
    padding-top: 10px;
}

#side-nav {
    position: fixed;
    top: 0;
    left:-250px;
    width: 250px;
    height: 100vh;
    z-index: 5555;
    background-color: #000;
    /* transition: all 0.6s ease; */
}

#side-nav li {
    padding: 25px 0 0 25px;
}

#side-nav .nav-category {
    text-decoration: none;
    color: white;
}

#side-nav .nav-category:hover {
    color: #ff655c;
    transition: all 0.3s;
}

#side-nav .social-item {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

#side-nav .social-item a {
    text-decoration: none;
    color: #f9f6f6;
    padding-left: 15px;
    font-size: 14px;
}

#side-nav span {
    color: #999;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-radius: 0;
    color: #fff;
    font-weight: 800;
}

.form-control:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-radius: 0;
}

/* .alert {
    display: none;
} */



#inputs_required {
    display: inline-block;
    margin-left: 30px;
}